:root {
    --cor-fundo-principal: #868B8E;
    --cor-fundo-secundario: #B9B7BD;
    --cor-borda: #1f1f1f; 
}

body, html {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--cor-fundo-principal);
}

canvas {
    justify-self: center;
    border: 1px solid black;
    transform-origin: center center;
    transition: transform 0.3s ease;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

main {
    width: 100%;
    height: 100%;
    /* display: grid; */
    display: none;
    grid-template-columns: 80px auto 1fr;
}

main > section {
    background-color: var(--cor-fundo-principal);
}

p, label, button, select, a {
    padding: 10px;
    background-color: var(--cor-borda);
    border-radius: 10px;
    color: #f1f1f1;
    text-align: center;
}

input[type="number"] {
    width: 50px;
    border-radius: 10x;
}

button, a {
    width: 100%;
    border: 3px solid #e3e3e3;
}

a {
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
}

.ferramentas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: 2;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    
    width: 100%;
    height: 100%;
}

.ferramentas-info {
    height: 50%;
}

.ferramentas-info > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    border: 2px solid var(--cor-borda);
}

.container-camada {
    display: grid;
    width: 720px;
    height: 480px;
    overflow: scroll;
}

.camada {
    grid-column: 1/1;
    grid-row: 1/1;
}
.camada:hover {
    cursor: crosshair;
}

.camada-info, .container-seleciona-desenho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;

    width: 100%;
    height: auto;
    border-bottom: 2px solid var(--cor-borda);
}

.camada-info-selecionada {
    background-color: var(--cor-fundo-principal);
}

.fechar-modal, .opcoes-desenho > button {
    cursor: pointer;
}

#container-camadas-info {
    width: 100%;
    height: 25%;
    overflow-y: scroll;
    background-color: var(--cor-fundo-secundario);
}

.opcoes-desenho {
    width: 100%;
    height: 25%;
}

#desenhos-salvos {
    width: 50%;
    height: 300px;
}

.container-seleciona-desenho {
    height: 100px;
    background-color: var(--cor-fundo-secundario);
    overflow-y: scroll;
}

.container-seleciona-desenho  button {
    width: 50%;
}

#area-mover {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    display: block;

    border: 2px dotted rgb(119, 119, 28);
    width: 200px;
    height: 200px;
    resize: both;
    overflow-x: auto;
    cursor: grab;
}

#borracha, #forma-geometrica {
    width: 35px;
}
.quadrado, .circulo, .reta {
    width: 80px;
}

.imagem {
    width: 30px;
}

#desenho-completo {
    border: 1px solid var(--cor-borda);
}

@media only screen and (max-width: 600px) {
    .container-camada {
        width: 480px;
        height: 320px;
    }
}
.container-camada::-webkit-scrollbar {
    -webkit-appearance: none;
}

.container-camada::-webkit-scrollbar:vertical {
    width: 12px;
}

.container-camada::-webkit-scrollbar:horizontal {
    height: 12px;
}

.container-camada::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid #000;
}

.container-camada::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgb(82, 82, 82);
}