:root {
    --cor-fundo-principal: #868B8E;
    --cor-fundo-secundario: #B9B7BD;
    --cor-borda: #1f1f1f; 
}

body, html {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--cor-fundo-principal);
}

canvas {
    justify-self: center;
    border: 1px solid black;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

main {
    width: 100%;
    height: 100%;
    /* display: grid; */
    display: none;
    grid-template-columns: 80px auto 1fr;
}

main > section {
    background-color: var(--cor-fundo-principal);
}

p, label, button, select, a {
    padding: 10px;
    background-color: var(--cor-borda);
    border-radius: 10px;
    color: #f1f1f1;
    text-align: center;
}

input[type="number"] {
    width: 50px;
    border-radius: 10x;
}

button, a {
    width: 100%;
    border: 3px solid #e3e3e3;
}

.container-seleciona-desenho  button {
    width: 50%;
}

a {
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
}

section, .ferramentas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.ferramentas-info, .ferramentas-info > * {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    flex-wrap: wrap;

    width: 100%;
    height: 100%;
    border-bottom: 2px solid var(--cor-borda);
}

.camada {
    grid-column: 2/3;
    grid-row: 1/1;
}
.camada:hover {
    cursor: crosshair;
}

.camada-info, .container-seleciona-desenho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;

    width: 100%;
    height: auto;
    border-bottom: 2px solid var(--cor-borda);
}

.camada-info-selecionada {
    background-color: var(--cor-fundo-principal);
}

.fechar-modal, .opcoes-desenho > button {
    cursor: pointer;
}

#camadas-container {
    width: 100%;
    height: 33%;
    overflow-y: scroll;
    background-color: var(--cor-fundo-secundario);
}

.opcoes-desenho {
    width: 100%;
    height: 33%;
}

.container-seleciona-desenho {
    height: 100px;
    background-color: var(--cor-fundo-secundario);
    overflow-y: scroll;
}

.container-seleciona-desenho > div {
    width: 100;
}

#area-mover {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    display: block;

    border: 2px dotted rgb(119, 119, 28);
    width: 200px;
    height: 200px;
    resize: both;
    overflow-x: auto;
    cursor: grab;
}

#borracha, #forma-geometrica {
    width: 35px;
}
.quadrado, .circulo, .reta {
    width: 80px;
}

.imagem {
    width: 30px;
}

#desenho-completo {
    border: 1px solid var(--cor-borda);
}