:root {
    --cor-fundo-principal: #868B8E;
    --cor-fundo-secundario: #B9B7BD;
    --cor-borda: #1f1f1f; 
}

body, html {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--cor-fundo-principal);
    /* overflow: hidden; */
}

canvas {
    justify-self: center;
    border: 1px solid black;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

main {
    width: 100%;
    height: 100%;
    /* display: grid; */
    display: none;
    grid-template-columns: 80px auto 1fr;
}

main > section {
    background-color: var(--cor-fundo-principal);
}

p, label, button, select, a {
    padding: 10px;
    background-color: var(--cor-borda);
    border-radius: 10px;
    color: #f1f1f1;
}

input[type="number"] {
    width: 50px;
    border-radius: 10x;
}

button, a {
    width: 100%;
    border: 3px solid #e3e3e3;
}

a {
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
}

section, .ferramentas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.ferramentas-info, .ferramentas-info > div {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    flex-wrap: nowrap;

    width: 99.9%;
    height: 200%;
    border-bottom: 2px solid var(--cor-borda);
}

.ferramentas-info ~ div {
    width: 100%;
    height: 100%;
    background-color: var(--cor-fundo-secundario);
}

.ferramentas-camada {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 50%;
}

.camada {
    grid-column: 2/3;
    grid-row: 1/1;
}
.camada:hover {
    cursor: crosshair;
}

.camada-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;

    width: 100%;
    height: auto;
    border-bottom: 2px solid var(--cor-borda);
}

.camada-info-selecionada {
    background-color: var(--cor-fundo-principal);
}

#camadas-container {
    height: 90%;
    overflow-y: scroll;
}

#criar-imagem {
    position: static;
    display: none;
}

#area-mover {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    display: block;

    border: 2px dotted rgb(119, 119, 28);
    width: 200px;
    height: 200px;
    resize: both;
    overflow-x: auto;
    cursor: grab;
}

.modal {
    display: grid;
    place-items: center;
    
    overflow-y: scroll;
    /* display: flex;
    align-items: center;
    justify-content: space-around; */
}

#modal-ajuda {
    display: grid;
    place-items: center;
    
    overflow-y: scroll;
}

#modal-ajuda, .modal {
    position: absolute;
    animation: moveIn 1s linear;
    left: 50%;  
    top: 50%;
    transform: translate(-50%, -50%);

    width: 50%;
    height: 75%;
    background-color: var(--cor-fundo-secundario);
    border: 1px solid var(--cor-borda);
    border-radius: 10px;
}

#modal-ajuda, #mensagem, #resolucao-alta-demais {
    display: none;
}

#mostrar-ajuda, #abrir-salvar {
    cursor: pointer;
}

@keyframes moveIn {
	from {
		top: -300px;
	}
	to {
        top: 50%;
    	left: 50%;
    	transform: translate(-50%, -50%);
	}
}

@keyframes fadeOut {
    from {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    to {
        top: -300px;
    }
}

#borracha, #forma-geometrica {
    width: 35px;
}
.quadrado, .circulo, .reta {
    width: 80px;
}

.imagem {
    width: 30px;
}
.selecionado {
    background-color: #868B8E;
}
.nao-selecionado {
    background-color: #B9B7BD;
}
.visivel {
    background-image: url("../img/eye-svgrepo-com.svg");
}
.invisivel {
    background-image: url("../img/eye-off-svgrepo-com.svg");
}
.criar-camada {
    background-image: url("../img/file-plus-alt-1-svgrepo-com.svg");
}
.excluir-camada {
    background-image: url("../img/file-xmark-svgrepo-com.svg");
}

#desenho-completo {
    border: 1px solid var(--cor-borda);
}