.modal {
    display: none;
    /* display: grid; */
    place-items: center;
    
    overflow-y: scroll;
    position: absolute;
    animation: moveIn 1s linear;
    left: 50%;  
    top: 50%;
    transform: translate(-50%, -50%);
    
    width: 50%;
    height: 75%;
    background-color: var(--cor-fundo-principal);
    border: 1px solid var(--cor-borda);
    border-radius: 10px;
}


#modal-ajuda, #mensagem, #resolucao-alta-demais {
    display: none;
}

#abrir-ajuda, #abrir-salvar {
    cursor: pointer;
}

@keyframes moveIn {
	from {
		top: -300px;
	}
	to {
        top: 50%;
    	left: 50%;
    	transform: translate(-50%, -50%);
	}
}

@keyframes moveOut {
    from {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    to {
        top: -300px;
    }
}